:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -- General elements -- */
h1{
  margin: 0;
  font-size: 3rem;
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  
}

html{
  overflow-y: scroll;
}

#Page{
  margin: 0 2rem ;
}

/* -- LOGIN PAGE -- */

#passwordPrompt{
  margin: 0;
  padding: 0;
}

#loginLayout{
  padding:2rem;
  border: white solid 1px;
  width: fit-content;
}

#loginPage{
  display: flex;
  justify-content: center;
  margin-top: 12.5%;
}

/* -- asdas -- */



