nav {
    position: sticky;
    top: 0;
    background-color: #242424;
}

#Link{
    text-decoration: none;
    color: white;
}
#Homepage{
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

#title{
    text-align: center;
}

#links{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

#navbar{
    border-bottom: solid 1px rgba(255,255,255, 0.3);
    padding-bottom: 1rem;
}